In [1]:
critics={'Lisa Rose': {'Lady in the Water': 2.5, 'Snakes on a Plane': 3.5,
'Just My Luck': 3.0, 'Superman Returns': 3.5, 'You, Me and Dupree': 2.5,
'The Night Listener': 3.0},
'Gene Seymour': {'Lady in the Water': 3.0, 'Snakes on a Plane': 3.5,
'Just My Luck': 1.5, 'Superman Returns': 5.0, 'The Night Listener': 3.0,
'You, Me and Dupree': 3.5},
'Michael Phillips': {'Lady in the Water': 2.5, 'Snakes on a Plane': 3.0,
'Superman Returns': 3.5, 'The Night Listener': 4.0},
'Claudia Puig': {'Snakes on a Plane': 3.5, 'Just My Luck': 3.0,
'The Night Listener': 4.5, 'Superman Returns': 4.0,
'You, Me and Dupree': 2.5},
'Mick LaSalle': {'Lady in the Water': 3.0, 'Snakes on a Plane': 4.0,
'Just My Luck': 2.0, 'Superman Returns': 3.0, 'The Night Listener': 3.0,
'You, Me and Dupree': 2.0},
'Jack Matthews': {'Lady in the Water': 3.0, 'Snakes on a Plane': 4.0,
'The Night Listener': 3.0, 'Superman Returns': 5.0, 'You, Me and Dupree': 3.5},
'Toby': {'Snakes on a Plane':4.5,'You, Me and Dupree':1.0,'Superman Returns':4.0}}

In [3]:
import pandas as pd

In [6]:
data=pd.DataFrame(critics)
data

,Claudia Puig,Gene Seymour,Jack Matthews,Lisa Rose,Michael Phillips,Mick LaSalle,Toby
Just My Luck,3.0,1.5,NaN,3.0,NaN,2.0,NaN
Lady in the Water,NaN,3.0,3.0,2.5,2.5,3.0,NaN
Snakes on a Plane,3.5,3.5,4.0,3.5,3.0,4.0,4.5
Superman Returns,4.0,5.0,5.0,3.5,3.5,3.0,4.0
The Night Listener,4.5,3.0,3.0,3.0,4.0,3.0,NaN
"You, Me and Dupree",2.5,3.5,3.5,2.5,NaN,2.0,1.0

In [7]:
data['Lisa Rose']['Lady in the Water']

2.5

In [8]:
data['Toby']['Snakes on a Plane']

4.5

In [10]:
data['Toby']

Just My Luck          NaN
Lady in the Water     NaN
Snakes on a Plane     4.5
Superman Returns      4.0
The Night Listener    NaN
You, Me and Dupree    1.0
Name: Toby, dtype: float64

There are a few ways to do this, and
in this section Iâ€™ll show you two systems for calculating similarity scores: 
- Euclidean distance and 
- Pearson correlation

In [15]:
from math import sqrt
sqrt(pow(5-4,2)+pow(4-1,2))

8

This formula calculates the distance, which will be smaller for people who are more
similar

However, you need a function that gives higher values for people who are
similar.

In [16]:
1/(1+sqrt(pow(5-4,2)+pow(4-1,2)))

0.2402530733520421

This new function always returns a value between 0 and 1, where a value of 1 means
that two people have identical preferences

### LET'S DO THIS

In [17]:
from math import sqrt
# Returns a distance-based similarity score for person1 and person2
def sim_distance(prefs,person1,person2):
# Get the list of shared_items
    si={}
    for item in prefs[person1]:
        if item in prefs[person2]:
            si[item]=1
    # if they have no ratings in common, return 0
    if len(si)==0: 
        return 0
    # Add up the squares of all the differences
    sum_of_squares=sum([pow(prefs[person1][item]-prefs[person2][item],2)
                        for item in prefs[person1] if item in prefs[person2]])
    return 1/(1+sum_of_squares)

In [130]:
print data['Lisa Rose']['Just My Luck']
print data['Gene Seymour']['Just My Luck']

sum_of_squares=sum([pow(data['Lisa Rose'][item]-data['Gene Seymour'][item],2)
                        for item in data['Lisa Rose'] if item in data['Gene Seymour']])



#for item in data['Lisa Rose']:
#    if item not in data['Gene Seymour']:
#        print ([pow(data['Lisa Rose']-data['Gene Seymour'],2)])

for item in data['Lisa Rose']:
    print data.columns
print 1/(1+sqrt(sum([pow(data['Lisa Rose']['Just My Luck']-data['Gene Seymour']['Just My Luck'],2)])))

3.0
1.5
Index([u'Claudia Puig', u'Gene Seymour', u'Jack Matthews', u'Lisa Rose',
       u'Michael Phillips', u'Mick LaSalle', u'Toby'],
      dtype='object')
Index([u'Claudia Puig', u'Gene Seymour', u'Jack Matthews', u'Lisa Rose',
       u'Michael Phillips', u'Mick LaSalle', u'Toby'],
      dtype='object')
Index([u'Claudia Puig', u'Gene Seymour', u'Jack Matthews', u'Lisa Rose',
       u'Michael Phillips', u'Mick LaSalle', u'Toby'],
      dtype='object')
Index([u'Claudia Puig', u'Gene Seymour', u'Jack Matthews', u'Lisa Rose',
       u'Michael Phillips', u'Mick LaSalle', u'Toby'],
      dtype='object')
Index([u'Claudia Puig', u'Gene Seymour', u'Jack Matthews', u'Lisa Rose',
       u'Michael Phillips', u'Mick LaSalle', u'Toby'],
      dtype='object')
Index([u'Claudia Puig', u'Gene Seymour', u'Jack Matthews', u'Lisa Rose',
       u'Michael Phillips', u'Mick LaSalle', u'Toby'],
      dtype='object')
0.4

In [142]:
data1=data.copy()
data1.index.name='Nama'
data1.T

Nama,Just My Luck,Lady in the Water,Snakes on a Plane,Superman Returns,The Night Listener,"You, Me and Dupree"
Claudia Puig,3.0,NaN,3.5,4.0,4.5,2.5
Gene Seymour,1.5,3.0,3.5,5.0,3.0,3.5
Jack Matthews,NaN,3.0,4.0,5.0,3.0,3.5
Lisa Rose,3.0,2.5,3.5,3.5,3.0,2.5
Michael Phillips,NaN,2.5,3.0,3.5,4.0,NaN
Mick LaSalle,2.0,3.0,4.0,3.0,3.0,2.0
Toby,NaN,NaN,4.5,4.0,NaN,1.0

In [159]:
from sklearn.metrics.pairwise import euclidean_distances
data1.fillna(0)

,Claudia Puig,Gene Seymour,Jack Matthews,Lisa Rose,Michael Phillips,Mick LaSalle,Toby
Nama,,,,,,,
Just My Luck,3.0,1.5,0.0,3.0,0.0,2.0,0.0
Lady in the Water,0.0,3.0,3.0,2.5,2.5,3.0,0.0
Snakes on a Plane,3.5,3.5,4.0,3.5,3.0,4.0,4.5
Superman Returns,4.0,5.0,5.0,3.5,3.5,3.0,4.0
The Night Listener,4.5,3.0,3.0,3.0,4.0,3.0,0.0
"You, Me and Dupree",2.5,3.5,3.5,2.5,0.0,2.0,1.0

In [170]:
result={}
for person in data.ix[:,:]:
    print person
    #for item in data[person]:
    #    if item not in result: 
    #        result[item]={} #result.setdefault(item,{})
    #    result[item][person]=data[person][item]#Flip item and person
#print result

Claudia Puig
Gene Seymour
Jack Matthews
Lisa Rose
Michael Phillips
Mick LaSalle
Toby

In [152]:
for item in data1['Lisa Rose']:
    print item
    if item in data1['Gene Seymour']:
        print item
        sum_of_squares=sum([pow(data['Lisa Rose'][item]-data['Gene Seymour'][item],2)
                        for item in data['Lisa Rose'] if item in data['Gene Seymour']])

3.0
2.5
3.5
3.5
3.0
2.5

In [180]:
data2=data1.to_dict()

{'Claudia Puig': {'Just My Luck': 3.0,
  'Lady in the Water': nan,
  'Snakes on a Plane': 3.5,
  'Superman Returns': 4.0,
  'The Night Listener': 4.5,
  'You, Me and Dupree': 2.5},
 'Gene Seymour': {'Just My Luck': 1.5,
  'Lady in the Water': 3.0,
  'Snakes on a Plane': 3.5,
  'Superman Returns': 5.0,
  'The Night Listener': 3.0,
  'You, Me and Dupree': 3.5},
 'Jack Matthews': {'Just My Luck': nan,
  'Lady in the Water': 3.0,
  'Snakes on a Plane': 4.0,
  'Superman Returns': 5.0,
  'The Night Listener': 3.0,
  'You, Me and Dupree': 3.5},
 'Lisa Rose': {'Just My Luck': 3.0,
  'Lady in the Water': 2.5,
  'Snakes on a Plane': 3.5,
  'Superman Returns': 3.5,
  'The Night Listener': 3.0,
  'You, Me and Dupree': 2.5},
 'Michael Phillips': {'Just My Luck': nan,
  'Lady in the Water': 2.5,
  'Snakes on a Plane': 3.0,
  'Superman Returns': 3.5,
  'The Night Listener': 4.0,
  'You, Me and Dupree': nan},
 'Mick LaSalle': {'Just My Luck': 2.0,
  'Lady in the Water': 3.0,
  'Snakes on a Plane': 4.0,
  'Superman Returns': 3.0,
  'The Night Listener': 3.0,
  'You, Me and Dupree': 2.0},
 'Toby': {'Just My Luck': nan,
  'Lady in the Water': nan,
  'Snakes on a Plane': 4.5,
  'Superman Returns': 4.0,
  'The Night Listener': nan,
  'You, Me and Dupree': 1.0}}

In [196]:
si={}
for item in data2['Lisa Rose']:
    if item in data2['Gene Seymour']:
        si[item]=1
# if they have no ratings in common, return 0
#if len(si)==0: 
#    return 0
# Add up the squares of all the differences
n=len(si)
 # if they are no ratings in common, return 0
#if n==0: 
#    return (0)
sum_of_squares=sum([pow(data2['Lisa Rose'][item]-data2['Gene Seymour'][item],2)
                    for item in data2['Lisa Rose'] if item in data2['Gene Seymour']])

1/(1.+sum_of_squares)

0.14814814814814814

In [197]:
# Returns the Pearson correlation coefficient for p1 and p2
def sim_pearson(prefs,p1,p2):
    si={}
    for item in prefs[p1]:
          if item in prefs[p2]: 
            si[item]=1
 # Find the number of elements
    n=len(si)
 # if they are no ratings in common, return 0
    if n==0: return 0
 # Add up all the preferences
    sum1=sum([prefs[p1][it] for it in si])
    sum2=sum([prefs[p2][it] for it in si])
 # Sum up the squares
    sum1Sq=sum([pow(prefs[p1][it],2) for it in si])
    sum2Sq=sum([pow(prefs[p2][it],2) for it in si])
 # Sum up the products
    pSum=sum([prefs[p1][it]*prefs[p2][it] for it in si])
 # Calculate Pearson score
    num=pSum-(sum1*sum2/n)
    den=sqrt((sum1Sq-pow(sum1,2)/n)*(sum2Sq-pow(sum2,2)/n))
    if den==0: return 0
    r=num/den
    return r


print sim_pearson(data2,'Lisa Rose','Gene Seymour')

0.396059017191

- https://github.com/mukesh-srivastav/MovieRecommenderSystem/blob/master/recommendations.ipynb
- https://medium.com/@victorkohler/item-item-collaborative-filtering-with-binary-or-unary-data-e8f0b465b2c3